* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


.tipo-produtos{
	margin-left: 95px;
	margin-bottom: 10px;
}

.lista-produtos{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 10px;
	max-width: 90%;
	margin: auto;
}


.card{
	width: 300px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.card-image-top{
  width: 195px;
  height: 195px;
  object-fit: contain;
  border-radius: 8px;
  padding-top: 2px;
  margin: auto;
}