* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


.categorias{
	margin-left: 170px;
	margin-bottom: 50px;
}

@media (min-width: 900px) {
    .fWDJHM h2 {
        font-size: 2.2rem;
    }
    
.liYlQk {
    font-weight: 600;
    color: #222;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Montserrat,Open Sans,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
@media (min-width: 900px) {
    .ctUGQz {
        margin-top: 2.4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(121px, 1fr));
        gap: 0px;
        height: 124px;
}

@media (min-width: 900px) {
    .jXrfsK {
        width: 100%;
        display: flex
;
        align-items: flex-end;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 3.2rem;
    }
    
@media (min-width: 900px) {
    .jXrfsK a {
        border: none;
        grid-template-rows: 80px auto;
        grid-template-columns: 80px;
        gap: 0.4rem;
    }

@media (min-width: 900px) {
    .jXrfsK a svg {
        width: 100%;
        height: 100%;
}

@media (min-width: 900px) {
    .iEMyaN {
        width: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 3.2rem;
}

@media (min-width: 900px) {
    .iEMyaN a {
        border: none;
        grid-template-rows: 80px auto;
        grid-template-columns: 80px;
        gap: 0.4rem;
}

@media (min-width: 900px) {
    .iEMyaN a svg {
        width: 100%;
        height: 100%;
}

@media (min-width: 900px) {
    .jYBjGl {
        width: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 3.2rem;
}

@media (min-width: 900px) {
    .jYBjGl a {
        border: none;
        grid-template-rows: 80px auto;
        grid-template-columns: 80px;
        gap: 0.4rem;
}

@media (min-width: 900px) {
    .jYBjGl a svg {
        width: 100%;
        height: 100%;
}

@media (min-width: 900px) {
    .dyznMg {
        width: 100%;
        display: flex;
        align-items: flex-end;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 3.2rem;
}

@media (min-width: 900px) {
    .dyznMg a {
        border: none;
        grid-template-rows: 80px auto;
        grid-template-columns: 80px;
        gap: 0.4rem;
}

@media (min-width: 900px) {
    .dyznMg a svg {
        width: 96px;
        height: 100%;
}

.hpuBjM {
    font-size: 1.6rem;
    line-height: 24px;
    place-self: center stretch;
    color: #222;
    font-weight: var(--token-font-medium);
    text-align: center;
    width: 80px;
}

.dsAFEy {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    left: 0px;
}
    
.eoIWoT {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    position: relative;
}

.cDWBYw {
    align-items: flex-start;
    display: grid
;
    grid-template-columns: repeat(5, auto);
    gap: 32px 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1400px;
    padding: 24px 0px 16px;
    width: calc(100% - 64px);
}

.eEqgDG {
    display: grid;
    gap: 16px;
    justify-items: flex-start;
    grid-row: 1 / 3;
}

@media (min-width: 1024px) {
    .ctyhPJ {
        font-size: var(--host-rem-16, 1rem);
    }
}

.jRuYxy {
    color: rgb(80, 80, 80);
    text-decoration: none;
    font-size: var(--host-rem-14, .875rem);
    font-weight: 400;
}

.ghynCk {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1400px;
    padding: 16px 0px 24px;
    width: calc(100% - 64px);
}

.hyWKUg {
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;
}

@media (min-width: 900px) {
    .iuZfsk {
        padding: 8rem;
}

.iuZfsk{
    padding: 4.0rem 0;
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.iuZfsk .container {
    gap: 4.0rem;
    display: flex;
    flex-direction: column;
    z-index: 99;
    position: relative;
}

.zVTyH {
    max-width: 120rem;
    padding: 0 2.4rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.iKIoiC {
    display: grid;
    grid-template-columns: repeat(2, 50rem);
}

.lmJfjw {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.fqKLYZ {
    font-weight: 600;
    font-size: 2.2rem;
    color: #222;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Montserrat, Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.casa-dy {
    display: flex;
    gap: 1.6rem;
}

.bjVhox {
    width: 70%;
    display: flex;
    gap: 25px;
}

.jhSJMh {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 30%;
}

.jGszsT {
    width: 11rem;
    height: 11rem;
    background-color: #fff;
    border-radius: 2.4rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.fUjiRj {
    text-align: center;
    margin-top: 0.8rem;
}

a {
    color: #555;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}