* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.form{
	 width: 100%; 
	 max-width: 400px; 
	 margin: 0 auto;
	 margin-top: 70px;
}

.nav-link{
	color: #222;
	margin-left: 165px;
}